body {
    margin: 0;
    background-color: #101010;
}

.principal {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
}

.samples {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}



.type-broadcaster {
    width: 200px;
    border: solid 3px #083CF5;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(360deg, transparent, #cc00cc);
}

.type-broadcaster div {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    gap: 10px;
}

.button-broadcaster {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px 20px;
    margin-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    border: 2px solid #cc00cc;
    transition: 200ms ease;
}

.button-broadcaster:hover {
    background-color: #cc00cc;
}

.button-broadcaster:active {
    scale: 90%;
}



.type-soundcar {
    width: 330px;
    border: solid 3px #083CF5;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(360deg, transparent, #bd0000);
}

.type-soundcar div {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    gap: 10px;
}

.button-soundcar {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px 20px;
    margin-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    border: 2px solid #bd0000;
    transition: 200ms ease;
}

.button-soundcar:hover {
    background-color: #bd0000;
}

.button-soundcar:active {
    scale: 90%;
}



.type-background {
    width: 200px;
    border: solid 3px #083CF5;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(360deg, transparent, #00b679);
}

.type-background div {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    gap: 10px;
}

.button-background {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px 20px;
    margin-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    border: 2px solid #00b679;
    transition: 200ms ease;
}

.button-background:hover {
    background-color: #00b679;
}

.button-background:active {
    scale: 90%;
}



img {
    width: 350px;
    padding: 40px;
}

video {
    border: solid 3px #083CF5;
    border-radius: 20px;
    height: 500px;
}


@media screen and (max-width: 1024px) {
    video {
        height: 300px;
    }

    .samples {
        scale: 85%;
        margin: 0;
    }

    img {
        padding: 20px 0px;
        scale: 80%;
    }
}

@media screen and (max-width: 768px) {
    video {
        height: 220px;
    }
}

@media screen and (max-width: 425px) {
    video {
        height: 150px;
    }
}